<%= form_tag '/cheaters.json', :method => 'POST', :id => 'add_cheater_form' do %>
  <fieldset>

    <div class="control-group">
      <%= label_tag("cheater_mobile", 'Mobile:') %>
      <div class="controls">
        <%= phone_field_tag("cheater_mobile", nil, :placeholder => 'mobile phone') %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag("cheater_desc", 'Desc:') %>
      <div class="controls">
        <%= text_area_tag("cheater_desc", nil, :placeholder => 'Description') %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag("provider_email", 'E-mail:') %>
      <div class="controls">
        <%= email_field_tag("provider_email", nil, :placeholder => 'Your email') %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls row">
        <div class="span1"><%= submit_tag 'Add', :class => 'btn-large btn-primary span1', :id => "add_cheater_btn" %></div>
        <div id="add_cheater_rslt"></div>
      </div>
    </div>
  </fieldset>
<% end %>


<div id="cheater_list"></div>
